section {
  .container{

  }
  .subheading {
    font-size: 4.8rem;
    color: $green;
    font-family: 'GoodVibesPro', cursive;
    text-align: center;
    margin-bottom: -10px;
  }
  .heading {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
  }
  @media (max-width: 768px) {
    .subheading {
      display: none;
    }
    .heading {
      font-size: 1.4rem;
      text-align: left;
    }
  }
}