section {
  .subheading {
    font-size: 4.8rem;
    color: $green;
    font-family: 'GoodVibesPro', cursive;
    text-align: center;
    margin-bottom: -10px;
  }
  .heading {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
  }
}