@import "../3-base/variables";
.section-contacts {
  .container {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .heading {
    margin-bottom: 70px;
  }
  .map-container {
    margin-bottom: 70px;
  }
  .icon {
    color: $green;
  }
  .contacts-text {
    text-align: center;
    .icon {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
    h5 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1.5rem;
    }
    p {
      font-size: 1.4rem;
      a {
        color: inherit;
      }
    }
  }
  @media (max-width: 768px) {
    .container {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .heading {
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .map-container {
      min-height: 200px;
      margin-bottom: 20px;
    }
    .contacts-text {
      text-align: left;
      & > div {
        padding-left: 80px;
        position: relative;
        margin-bottom: 20px;
      }
      .icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
        text-align: center;
      }
      h5 {
        margin-top: 2px;
        margin-bottom: 5px;
      }
    }
  }
  @media (max-width: 576px) {
    .map-container {
      margin-left: -20px;
      margin-right: -20px;
    }
  }
}
