//Custom variables

// Descriptive color variables

// Functional color variables

// Font stacks

// Asset paths
$path-image     :   '../img';
$path-fonts     :  '../fonts';
$path-font-main: $path-fonts + '/Montserrat';

$white: #ffffff;
$black: #000000;
$black-default: #1d1e1f;
$gray-default: #4d4e4f;
$lightgray-default: #B3B3B3;


$green: #18ad50;
$lightGreen: #e8f2d9;
$softPink: #f6e9e3;
$lightBlue: #c6e6f5;
$softYellow: #f8f0d9;
$softOrange: #ecd5c7;


