.btn {
  min-height: 40px;
  font-size: 1.5rem;
  font-weight: 600;
  color: $black-default;
  background: $white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  &.btn-small {
    min-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
  }
  &.btn-big {
    min-height: 52px;
  }
  &.btn-primary {
    background: $green;
    border-color: transparent;
    color: $white;
    &:not(:disabled):not(.disabled):focus,
    &:not(:disabled):not(.disabled).focus,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):focus:active,
    &:not(:disabled):not(.disabled):hover,
    &:not(:disabled):not(.disabled).hover
    {
      box-shadow: none;
      border-color: transparent;
    }
    &:not(:disabled):not(.disabled):hover,
    &:not(:disabled):not(.disabled).hover {
      background: darken($green, 5)
    }
    &:not(:disabled):not(.disabled):focus,
    &:not(:disabled):not(.disabled).focus {
      box-shadow: 0 0 2px 3px rgb(0, 123, 255)
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      box-shadow: none;
      background: darken($green, 7);
    }
  }
}
@include media-breakpoint-down(md) {
  .btn {
    &.btn-small {
      min-height: 35px;
    }
    &.btn-big {
      min-height: 40px;
    }
  }
}